<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Press-Play</title>
<link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.0.0-beta2/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}"/>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div th:insert="/fragments/header :: header"></div>
<div class="add-record">
    <form class="form-add-film" th:action="@{/add-film}" method="post">

        <h1 class="h3 mb-3 fw-normal" style="color:white">Add Film</h1>
        <input type="text" id="title" name="title" class="form-control" placeholder="Title" required
               autofocus>
        <textarea type="textbig" rows="5" id="description" name="description" class="form-control" placeholder="Description" required></textarea>
        <input type="number" step="any" id="releaseYear" name="releaseYear" class="form-control" placeholder="Release Year" required>
        <select id="language" name="language" class="form-control" required>
            <option value="" disabled selected>Language</option>
            <option th:each="language : ${languages}" th:value="*{language.languageId}" th:text="*{language.name}"></option>
        </select>
        <input type="number" step="any" id="rentalDuration" name="rentalDuration" class="form-control" placeholder="Rental Duration"
               required>
        <input type="number" step="any" id="rentalRate" name="rentalRate" class="form-control" placeholder="Rental Rate"
               required>
        <input type="number" step="any" id="length" name="length" class="form-control" placeholder="Length (minutes)"
               required>
        <input type="number" step="any" id="replacementCost" name="replacementCost" class="form-control" placeholder="Replacement Cost"
               required>
        <select id="rating" name="rating" class="form-control" required>
            <option value="" disabled selected>Rating</option>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="R">R</option>
            <option value="PG13">PG13</option>
            <option value="NC17">NC17</option>
        </select>
        <label>Special Features</label>
        <select name="specialFeatures" id="specialFeatures" multiple class="form-control" required>
            <option value="Trailers">Trailers</option>
            <option value="Commentaries">Commentaries</option>
            <option value="Deleted Scenes">Deleted Scenes</option>
            <option value="Behind the Scenes">Behind the Scenes</option>
        </select>
        <label>Last Update</label>
        <input type="date" id="lastUpdate" name="lastUpdate" class="form-control" required>
        <label>Actors</label>
        <select multiple class="form-control" required>
            <option value="Other">Other</option>
            <option th:each="actor : *{actors}" th:value="${actor}" th:text="${actor.firstName} + ' ' + ${actor.lastName}"></option>
        </select>
        <input type="text" id="actors" name="actors" class="form-control" placeholder="Other Actors">
        <label>Genres</label>
        <select multiple class="form-control" required>
            <option th:each="category : *{categories}" th:value="${category}" th:text="${category.name}"></option>
        </select>

        <input type="submit" class="w-100 btn btn-lg btn-primary" value="Submit">
    </form>
</div>
</body>
</html>