<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="text-white">
<div th:insert="fragments/header :: header"></div>


<div class="container">
    <h1 class="text-center">Categories</h1>
    <ul class="text-center">
        <table>
            <tr th:each="category : ${categories}">
                <td>
                    <form method="get" th:align="center" action="/category">
                        <input type="hidden" name="category" th:value="*{category.name}">
                        <input type="submit" th:value="*{category.name}">
                    </form>
                </td>
            </tr>
        </table>
        <!--                <a th:href="@{/categories/*{category.name}}"><li th:each="category : ${categories}" th:text="*{category.name}"></li></a>-->
    </ul>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add new
        Category
    </button>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add a new Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!--/*@thymesVar id="category" type="com.sparta.eng80.pressplay.entities.CategoryEntity"*/-->
                <form action="#" th:action="@{/newCategory}" th:object="${category}" method="post">
                    <div class="modal-body">
                        <label>
                            <input class="mt-2" type="text" name="name" placeholder="Category name"/>
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        <input class="btn" type="submit" value="CREATE" id="secondaryBtn">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{webjars/popper.js/2.5.4/umd/popper.min.js}"></script>
<script th:src="@{webjars/bootstrap/5.0.0-beta2/js/bootstrap.min.js}"></script>
</body>
</html>