body {
    background-color: #191919 !important;
}

#primaryBtn {
    background-color: #ffde59;
    color: #191919;
}

.navbar {
    background-color: #191919;
    top: 0;
}

.nav-item {
    margin-left: 25px !important;
    margin-right: 25px;
    /*padding-left: 50px !important;*/
}

#navbarToggleExternalContent {
    background-color: #191919;
    border-bottom: 1px solid white;
}

#searchDropDownContent {
    padding: 10px 0;
}

input#searchField {
    width: 50vw;
    margin: 10px 0 10px 60px;
    padding: 2px;
}

a#searchBtn {
    margin: 0 15px;
    color: #ffffff;
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px 15px;
    text-decoration: none;
    /*font-family: ;*/
}

a#filterBtn {
    background-color: inherit;
    /*margin-right: 15px;*/
    color: #ffffff;
    border: 1px solid white;
    border-radius: 3px;
    padding: 4px 15px;
    text-decoration: none;
}

a#closeBtn, a#searchListItem {
    background-color: #191919;
    border: none;
    color: #ffffff;
    text-decoration: none;
}

a#searchListItem {
    background-color: #191919;
    border: none;
    text-decoration: none;
}

table#loanTable {
    /*color: white;*/
    width: 100%;
}

h1 {

}

/* Contact Section */
div#contactText {
    color: white;
}

.dropdown-toggle::after {
    display:none;
}

ul#profileList {
    list-style-type: none;
}

section#content {
    width: 100vw;
    height: 60vw;
}

div#carouselExampleDark {
    height: 20vh;
}

