<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Press-Play</title>
    </head>

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.0.0-beta2/css/bootstrap.min.css}" />
    <body>
        <div th:insert="/fragments/header :: header"></div>

    <script th:src="@{webjars/popper.js/2.5.4/umd/popper.min.js}"></script>
    <script th:src="@{webjars/bootstrap/5.0.0-beta2/js/bootstrap.min.js}"></script>
    </body>
</html>